.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.winter i {
  color: rgb(15, 15, 255);
}

.season-display.summer i {
  color: rgb(255, 81, 1);
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: rgb(245, 208, 138);
}